[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/zsh-autocomplete"]
	path = zsh/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete
[submodule "zsh/zsh-history-substring-search"]
	path = zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/agkozak-zsh-prompt"]
	path = zsh/agkozak-zsh-prompt
	url = https://github.com/agkozak/agkozak-zsh-prompt
[submodule ".local/bin/tmux-sessionizer"]
	path = .local/bin/tmux-sessionizer
	url = https://github.com/ThePrimeagen/tmux-sessionizer.git
[submodule "tmux-sessionizer"]
	path = tmux-sessionizer
	url = https://github.com/ThePrimeagen/tmux-sessionizer.git
[submodule "mpv/scripts/thumpfast"]
	path = mpv/scripts/thumpfast
	url = https://github.com/po5/thumbfast.git
[submodule "nvim-init"]
	path = nvim-init
	url = git@github.com:ptquang2000/nvim-init.git
